# default gitignore
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ROW_Column_Text Directory
/ROW_Column_Text/*.iml
/ROW_Column_Text/.gradle
/ROW_Column_Text/local.properties
/ROW_Column_Text/.idea/caches
/ROW_Column_Text/.idea/libraries
/ROW_Column_Text/.idea/modules.xml
/ROW_Column_Text/.idea/workspace.xml
/ROW_Column_Text/.idea/navEditor.xml
/ROW_Column_Text/.idea/assetWizardSettings.xml
/ROW_Column_Text/build
/ROW_Column_Text/captures
/ROW_Column_Text/.externalNativeBuild
/ROW_Column_Text/.cxx

# Composable_Preview Directory
/Composable_Preview/*.iml
/Composable_Preview/.gradle
/Composable_Preview/local.properties
/Composable_Preview/.idea/caches
/Composable_Preview/.idea/libraries
/Composable_Preview/.idea/modules.xml
/Composable_Preview/.idea/workspace.xml
/Composable_Preview/.idea/navEditor.xml
/Composable_Preview/.idea/assetWizardSettings.xml
/Composable_Preview/build
/Composable_Preview/captures
/Composable_Preview/.externalNativeBuild
/Composable_Preview/.cxx

# List_LazyColumn
/List_LazyColumn/*.iml
/List_LazyColumn/.gradle
/List_LazyColumn/local.properties
/List_LazyColumn/.idea/caches
/List_LazyColumn/.idea/libraries
/List_LazyColumn/.idea/modules.xml
/List_LazyColumn/.idea/workspace.xml
/List_LazyColumn/.idea/navEditor.xml
/List_LazyColumn/.idea/assetWizardSettings.xml
/List_LazyColumn/build
/List_LazyColumn/captures
/List_LazyColumn/.externalNativeBuild
/List_LazyColumn/.cxx

# Image_Card_State
/Image_Card_State/*.iml
/Image_Card_State/.gradle
/Image_Card_State/local.properties
/Image_Card_State/.idea/caches
/Image_Card_State/.idea/libraries
/Image_Card_State/.idea/modules.xml
/Image_Card_State/.idea/workspace.xml
/Image_Card_State/.idea/navEditor.xml
/Image_Card_State/.idea/assetWizardSettings.xml
/Image_Card_State/build
/Image_Card_State/captures
/Image_Card_State/.externalNativeBuild
/Image_Card_State/.cxx

# Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/*.iml
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.gradle
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/local.properties
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.idea/caches
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.idea/libraries
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.idea/modules.xml
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.idea/workspace.xml
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.idea/navEditor.xml
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.idea/assetWizardSettings.xml
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/build
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/captures
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.externalNativeBuild
/Scaffold_TextField_Button_Destructuring_SnackBar_CoroutineScope/.cxx

# Created by https://www.toptal.com/developers/gitignore/api/macos,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,windows

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/macos,windows